@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #0D0210;
    --hover-color: #003B00;
    --accent-color: #008F11;
    --text-color: #00FF41;
    --primary-gradient: linear-gradient(#0D0230);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Poppins, "Segoe UI", sans-serif;
    color: var(--text-color);
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--primary-gradient);
}
main {
    padding: min(5em, 7%);
}
main p {
    margin-top: .35em;
}