.home {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, blue, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home h1 {
    transition:0.3s ease all;
    border-radius: 12px;
    position: absolute;
    color: white;
    font-size: 80px;
    text-align: center;
    z-index: 99;
}
.img {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.layer1 {
    height: 100%;
    right: 0;
    pointer-events: none;
}

.layer2 {
    position: absolute;
    height: 100%;
    right: 0;
    pointer-events: none;
}

.layer3 {
    position: absolute;
    height: 100%;
    right: 0;
    pointer-events: none;
}

@media screen and (max-width: 800px) {   
    .home h1 { 
        font-size: 40px;
        z-index: 9;
    }
}

/* Initial hidden state with blur and opacity */
.hidden-layer {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease-out, filter 1s ease-out;
}

/* When loaded, fade in and unblur */
.loaded-layer {
    opacity: 1;
    filter: blur(0);
}
